<form name="form_login" style="margin-top: 25px;" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : form_login.email.$invalid && !form_login.email.$pristine }">
        <div class="input-group">
                            <span class="input-group-addon" id="ip-email">
                                <i class="fa fa-envelope fa-input" ng-class="{'active' : !form_login.email.$error.required }"></i>
                            </span>
            <input ng-model="data.email" type="email" class="form-control" name="email" placeholder="Nhập Email bạn đã đăng ký" aria-describedby="ip-email" required>
        </div>
        <div ng-show="form_login.$submitted || form_login.email.$touched">
            <div class="message-error" ng-show="form_login.email.$error.required">Email không được để trống</div>
            <div class="message-error" ng-show="form_login.email.$error.email">Email không không đúng định dạng</div>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : form_login.password.$invalid && !form_login.password.$pristine }">
        <div class="input-group">
                            <span class="input-group-addon" id="ip-password">
                                <i class="fa fa-lock fa-input" ng-class="{'active' : !form_login.password.$error.required }" ></i>
                            </span>
            <input ng-model="data.password" type="password" name="password" class="form-control" id="password_in" placeholder="Nhập mật khẩu" required="">
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : form_login.password.$invalid && !form_login.password.$pristine }">
        <div class="input-group">
            <p class="alert-error">{{login_error}}</p>
            <p class="alert-success">{{login_success}}</p>
        </div>
    </div>
    <div class="form-group">
        <button ng-click="logIn(data);"  ng-disabled="form_login.$invalid" class="btn primary col-xs-12 col-sm-12 col-md-12"
                title="Điền đầy đủ thông tin trước khi đăng nhập nhé"> ĐĂNG NHẬP <img ng-if="loading" width="16" src="assets/img/ajax-loader.gif" alt="" class="loading_ajax"></button>
    </div>
</form>
<p class="custom-link-forget-password" ><a ng-click="goToForgetAccount()">Quên mật khẩu?</a></p>