<div class="jumbotron text-center">
    <h1>The Home Page</h1>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

    <a ui-sref="login" class="btn btn-primary">login us</a>
    <a ui-sref="about" class="btn btn-primary">About us</a>
    <a ui-sref="product" class="btn btn-danger">Product</a>
</div>

<div ui-view></div>