tét dashboard
{{name}}

<ng-map zoom="11" center="[40.74, -74.18]">
    <marker position="[40.74, -74.18]" />
    <shape name="circle" radius="400" center="[40.74,-74.18]" radius="4000" />
    <control name="overviewMap" opened="true" />
</ng-map>`